/*
background: #192a32
tictactiles: #1f3540
cross: #31c4be
circle: #f3b138
neutral: #a8bec9
*/
.App {
  text-align: center;
  background-color: #192a32;
  height: 100vh;
  width: 100%;
  color: #a8bec9;
}
.header {
  position: absolute;
  left: 0;
  right: 0;
}
.total-container {
  position: relative;
  width: 450px;
  height: 600px;
  margin: auto;
  transform: translateY(10%);
}